html, body {
  height:100%;
}

/* NAV BAR */
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


/* COVER (background image) */
.background-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vw;

  background-image: url(../img/test_background.jpg);
  background-size: cover;
}

/* background */
.background {
  display: flex;
  justify-content: center;
  background-color: white;
}

/* MAIN BODY */
.centered-body {
  margin: auto;
  min-width: 100vw;
  text-align: center;
  color: white;
}

.centered-header {
  font-family: "Open Sans Condensed";
}
